<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="/static/js/db-resource.js"></script>
  <script src="static/js/portfolio-app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
</head>

<body ng-app="portfolio">
  <nav>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <li>
            <a href="#/category/{{ category.title }}/{{ category.id }}">
              {{ category.title }}
            </a>
          </li>
          {% if category.projects %}
            <ul>
              {% for project in category.projects %}
                <li>
                  <a href="#/project/{{ project.title }}/{{ project.id }}">
                    {{ project.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
