<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.js"></script>

  <!-- Non-native -->
  <script src="/static/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="/static/js/ng-file-upload/ng-file-upload.min.js"></script>

  <!-- My code -->
  <script src="/static/js/db-resource.js"></script>
  <script src="/static/js/dashboard-app/db-service.js"></script>
  <script src="/static/js/dashboard-app.js"></script>
  <script src="/static/js/editable-field-component.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- This is so that the bootstrap css will work with angular -->
  <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
  </style>
</head>

<body ng-app="dashboard">
  {% block content %}{% endblock %}
</body>
</html>
