<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.js"></script>
  <script src="static/js/app.js"></script>
</head>

<body ng-app="portfolio" ng-controller="PortfolioController">
  <nav>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <li>
            <a href="#/{{ category.title }}"
               ng-click="viewCategory({{ category.id }})">
              {{ category.title }}
            </a>
          </li>
          {% if category.projects %}
            <ul>
              {% for project in category.projects %}
                <li>
                  <a href="#/{{ project.title }}"
                     ng-click="viewProject({{ project.id }})">
                    {{ project.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
