{% extends "base-dashboard.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="flex-row center-content">
  <section id="dashboard" class="flex-column center-content">
    <h1>Dashboard</h1>
    <nav id="dashboard-nav">
      <ul>
        <li><a href="#/">Projects</a></li>
        <li class="inactive-tab"><a href="#/settings">Settings</a></li>
      </ul>
    </nav>
    <div id="dashboard-view-content" ng-view></div>
  </section>

  <section id="placeholder">
    <p>
      
    </p>
  </section>
</div>
{% endblock %}
