<!DOCTYPE html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
  <form method="POST" action="/admin/login">
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" />
  </form>

  <!-- TODO: Add registration modal -->
  <form method="POST" action="/register">
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" />
  </form>
</body>
