<section id="add-new-menu">
  <span>
    Add new:
    <a href="#/new/project">Project</a> /
    <a href="#/new/category">Category</a> /
    <a href="#/new/page">Page</a> /
    <a href="#/new/link">Link</a>
  </span>
</section>

<div uib-alert
     ng-show="showUndo"
     class="alert-warning"
     close="commitDelete()">
  <span>
    ~*~* deletedName *~*~ deleted!
    <b>
      <a class="undo-link" ng-click="undoDelete()">
        Undo?
      </a>
    </b>
  </span>
</div>

<section ng-show="categories" id="projects-list">
  <ul ng-show="categories" id="categories">
    <li ng-repeat="category in categories"
        class="category">
      <span>
        <a ng-href="#/edit/category/~*~* category.id *~*~">
          ~*~* category.title *~*~
        </a>
        <button ng-if="category.projects.length === 0 || !category.hasOwnProperty('projects')" ng-click="queueDelete('category', category)">
          x
        </button>
      </span>
      <ul ng-show="category.projects">
        <li ng-repeat="project in category.projects">
          <span>
            <a ng-href="#/edit/project/~*~* project.id *~*~">
              ~*~* project.title *~*~
            </a>
            <button ng-click="queueDelete('project', project, category)">
              x
            </button>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</section>
