<section id="add-new-menu">
  <span>
    Add new:
    <a href="#/new/project">Project</a> /
    <a href="#/new/category">Category</a>
  </span>
</section>

<span ng-show="showUndo">
  Undo delete? <button ng-click="undoDelete()">Yes</button>
  <button ng-click="commitDelete()">No</button>
</span>

<section ng-show="categories" id="projects-list">
  <ul ng-show="categories" id="categories">
    <li ng-repeat="category in categories"
        class="category">
      <span>
        <a ng-href="#/edit/category/~*~* category.id *~*~">
          ~*~* category.title *~*~
        </a>
        <button ng-if="category.projects.length === 0" ng-click="queueDelete('category', category)">
          x
        </button>
      </span>
      <ul ng-show="category.projects">
        <li ng-repeat="project in category.projects">
          <span>
            <a ng-href="#/edit/project/~*~* project.id *~*~">
              ~*~* project.title *~*~
            </a>
            <button ng-click="queueDelete('project', project, category)">
              x
            </button>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</section>
