<section ng-controller="EditProjectController">
  <h2>Edit Project</h2>
  <h3>
    <editable-field field-type="text"
                    field-value="project.title"
                    enable-html="false"
                    on-update="update('title', value)">
    </editable-field>
  </h3>
  <section id="project-data">
      <b><i>Description:</i></b></br>
      <editable-field field-type="textarea"
                      field-value="project.desc"
                      enable-html="true"
                      on-update="update('desc', value)">
      </editable-field></br>
      <b><i>Category: </i></b>
      <select ng-show="categories"
              ng-model="thisCategory"
              ng-options="category as category.title for category in categories"
              ng-change="update('categoryId', thisCategory.id)">
      </select></br>
      <b>Tags:</b>
      <div id="tag-input">
        <button ng-repeat="tag in project.tags"
                ng-click="deleteTag(tag.code)">
          x ~*~* tag.code *~*~
        </button>
        <input ng-model="rawTag"
               ng-keypress="handleTags($event)"
               type="text"
               placeholder="New tags" />
      </div>
  </section>

  </br>
  <input type="file" ngf-select ng-model="imageFile" name="file"
             accept="image/*" ngf-max-size="20MB" />
  <button ng-click="upload(imageFile)">Upload</button></br>
  <button ng-click="updateProject(project.title, project.desc, thisCategory.id, rawTags)">Save All</button>

  <section id="edit-media">
    <ul>
      <li ng-repeat="media in project.media">
        <edit-media media="media"
                    on-update="updateMedia(media, prop, value)"
                    on-delete="deleteMedia(media)">
        </edit-media>
      </li>
    </ul>
  </section>
</section>
