<section ng-controller="EditProjectController">
  <h2>Edit Project</h2>
  <h3>
    <editable-field field-type="text"
                    field-value="project.title"
                    on-update="update('title', value)">
    </editable-field>
  </h3>
  <section id="project-data">
      <b><i>Description:</i></b></br>
      <editable-field field-type="textarea"
                      field-value="project.desc"
                      enable-html="true"
                      on-update="update('desc', value)">
      </editable-field></br>
      <b><i>Category: </i></b>
      <select ng-show="categories"
              ng-model="thisCategory"
              ng-options="category as category.title for category in categories"
              ng-change="update('categoryId', thisCategory.id)">
      </select></br>
      <b>Tags:</b>
      <div id="tag-input">
        <button ng-repeat="tag in project.tags"
                ng-click="deleteTag(tag)">
          x ~*~* tag.code *~*~
        </button>
        <input type="text"
               placeholder="New Tags"
               ng-model="newTag"
               uib-typeahead="tag as tag.code for tag in tags |
                              filter:$viewValue"
               ng-keypress="handleTags($event)" />

      </div>
  </section>

  </br>
  <input type="file" ngf-select ng-model="imageFile" name="file"
             accept="image/*" ngf-max-size="20MB" />
  <button ng-click="upload(imageFile)">Upload</button></br>

  <section id="edit-media">
    <ul>
      <li ng-repeat="media in project.media">
        <!-- Set main image -->
        <input type="radio"
               ng-model="project.main_img_id"
               ng-value="media.id"
               ng-change="update('mainImgId', project.main_img_id)"
               />
        <span ng-switch="project.main_img_id === media.id">
          <span ng-switch-when="true">Current main image.</span>
          <span ng-switch-default>Set main image.</span>
        </span>
        <edit-media media="media"
                    on-update="updateMedia(media, prop, value)"
                    on-delete="deleteMedia(media)">
        </edit-media>
      </li>
    </ul>
  </section>
</section>
